# Build files
/_*
.merlin
*.install
/node_modules

# Parser files
*.conflicts
*.automaton
*messages_complete.txt

.#*

# We ignore the esy lock and esy.json file. These change depending on the
# platform (see README).
/esy.lock/
/esy.json
