margin = 100

wrap-comments
parse-docstrings
doc-comments-val = before

type-decl = sparse
break-separators = after
break-cases = toplevel
field-space = loose
sequence-style = terminator
break-sequences = false
dock-collection-brackets = false
cases-matching-exp-indent = compact

space-around-arrays
space-around-lists
space-around-records
space-around-variants
