pin-depends: [
  ["omnomnom.dev" "git+https://github.com/SquidDev/omnomnom.git#b14c939500de840f866665918cb3c66f08075962"]
  ["lrgrep.dev" "git+https://github.com/let-def/lrgrep.git#edbef34a53c756b18a9195c139fa57fc87fb9436"]
]
