pin-depends: [
  ["omnomnom.dev" "git+https://github.com/SquidDev/omnomnom.git#b14c939500de840f866665918cb3c66f08075962"]
  ["lrgrep.dev" "git+https://github.com/SquidDev/lrgrep.git#bff2ef06e97fd982c99ced7a9757f036ecf1e431"]
]
